.h-95 {
  height: 95%;
}

.w-90 {
  width: 90%;
}

.height-25 {
  height: 25px;
  span {
    line-height: 25px;
  }
}

.h-30 {
  height: 30px;
}

.h-76 {
  height: 76px;
}

.leave-btn {
  line-height: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.form-control:focus {
  box-shadow: none;
}

.play-fill {
  content: url("../../assets/play-fill.svg");
}

.btn.btn-secondary {
  background-color: var(--bs-btn-hover-bg);
  &:hover {
    opacity: 0.8;
  }
}
