.burger-icon {
  content: url("../../assets/list.svg");
  position: fixed;
  top: 4px;
  left: 0.5rem;
  cursor: pointer;
}
.fs-11 {
  width: 1rem;
  height: 1rem;
  &:hover {
    width: 1.1rem;
    height: 1.1rem;
  }
}
.position-fixed {
  top: 0;
  left: 0;
  opacity: 0.5;
}
