<div class="d-flex h-100 text-bg-dark user-select-none bg-gradient">
  <div class="d-none d-md-block col-md-3 h-100">
    <app-sidebar [showTitle]="true"></app-sidebar>
  </div>
  <div class="col-12 col-md-9 h-100">
    <router-outlet></router-outlet>
  </div>
</div>
<span
  class="burger-icon d-md-none fs-11 text-light"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasWithBothOptions"
  aria-controls="offcanvasWithBothOptions"
></span>

<div
  class="offcanvas offcanvas-start text-bg-secondary bg-gradient user-select-none d-md-none"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header bg-gradient ps-2 pb-0">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
      Active Chats
    </h5>
    <button
      type="button"
      class="btn-close btn-close-white"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body p-0">
    <app-sidebar [showTitle]="false"></app-sidebar>
  </div>
</div>

<div
  *ngIf="loading"
  class="d-flex align-items-center justify-content-center position-fixed vw-100 vh-100 bg-secondary"
>
  <div class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
