<form
  class="d-flex flex-column justify-content-center align-content-center col-10 h-100 m-auto"
  (ngSubmit)="onSubmit(form)"
  #form="ngForm"
>
  <h3>Create New Room</h3>
  <div class="form-floating mb-3">
    <input
      ngModel
      id="room-name"
      name="roomName"
      class="form-control"
      type="text"
      placeholder="room name here"
    /><label for="room-name">Room Name</label>
  </div>
  <div class="form-floating mb-3">
    <input
      ngModel
      id="room-pass"
      name="roomPass"
      class="form-control"
      type="text"
      placeholder="room password here"
    /><label for="room-pass">Room Password</label>
  </div>

  <button (click)="click()" class="btn btn-primary" type="submit">
    Submit
  </button>
</form>
