<div class="text-bg-secondary h-100">
  <h5 *ngIf="showTitle" class="pt-3 px-2 mb-0">Active Chats</h5>
  <ul class="list-group list-group-flush">
    <li
      *ngIf="joined"
      class="list-group-item bg-transparent text-light d-flex justify-content-between"
    >
      {{ joined }}
      <span class="badge text-bg-success">Joined</span>
    </li>
    <li
      *ngFor="let room of roomList"
      class="list-group-item bg-transparent text-light d-flex justify-content-between"
    >
      {{ room }}
      <span
        *ngIf="!joined"
        [routerLink]="['/join', room]"
        routerLinkActive="router-link-active"
        class="badge btn btn-primary"
        >Join</span
      >
    </li>
  </ul>
</div>
