<div
  *ngIf="msg.self; else out"
  class="d-flex justify-content-end w-75 ms-auto mb-2"
>
  <div class="d-flex justify-content-end align-items-stretch flex-grow-1 me-2">
    <div
      class="self-msg text-wrap text-break text-center mw-100 rounded p-1 pe-2 text-bg-success"
    >
      {{ msg.msg }}
    </div>
  </div>
  <div class="position-relative">
    <span class="position-absolute badge px-0 pb-2 mw-85 text-truncate self">
      You
    </span>
    <span class="visible-hidden badge px-0 pb-2 mw-85 text-truncate">
      You
    </span>
  </div>
</div>

<ng-template #out>
  <div
    class="d-flex justify-content-start align-items-stretch w-75 me-auto mb-2"
  >
    <div class="position-relative">
      <span
        class="position-absolute badge ps-0 pb-2 mw-85 text-truncate pe-0 other"
        >{{ msg.displayName }}</span
      >
      <span class="visible-hidden badge ps-0 pb-2 mw-85 pe-0 text-truncate">{{
        msg.displayName
      }}</span>
    </div>
    <div class="d-flex justify-content-start flex-grow-1 ms-2">
      <div
        class="other-msg text-wrap text-break mw-100 rounded p-1 ps-2 text-center text-bg-primary"
      >
        {{ msg.msg }}
      </div>
    </div>
  </div>
</ng-template>
